body { font-family:Helvetica; } 

/* ---------------------------- DIV UNO ---------------------------*/


h1 {font-size: 16px; color: white; padding: 5px 6px; font-weight: bold; margin: 0;
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left, #000000 0%, #303235 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#303235)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #000000 0%,#303235 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #000000 0%,#303235 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #000000 0%,#303235 100%); /* IE10+ */
background: linear-gradient(to right, #000000 0%,#303235 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303235',GradientType=1 ); /* IE6-9 */
}
li { 
  margin-bottom: 6px; 
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

